<%= link_to "Create Plant", "/gardens/#{@garden.id}/plants/new" %>
<%= link_to "Sort Alphabetical", "/gardens/#{@garden.id}/plants?sort=alphabetize" %>

<h1><%= @garden.name %> Garden</h1>

<h3>All Plants</h3>
<% @plants.each do |plant| %>
  <section id="plant-<%= plant.id %>"></p>
    <p><%= plant.name %></p>
    <%= link_to "Edit Plant", "/plants/#{plant.id}/edit" %>
    <p>Height(inches): <%= plant.height %></p>
    <p>Flowering: <%= plant.flowering %></p>
  </section>
<% end %>