<%= link_to "Create Plant", "/gardens/#{@garden.id}/plants/new" %>
<%= link_to "Sort Alphabetical", "/gardens/#{@garden.id}/plants?sort=alphabetize" %>

<h1><%= @garden.name %> Garden</h1>

<h3>All Plants</h3>
<% @plants.each do |plant| %>
  <h4><%= plant.name %></h4>
  <p>Height(inches): <%= plant.height %></p>
  <p>Flowering: <%= plant.flowering %></p>
<% end %>