<h1>All Gardens</h1>

<ul>
  <% @gardens.each do |garden| %>
    <section id="garden-<%= garden.id %>"></p>
      <p><%= garden.name %> Garden<p>
      <%= link_to "Edit Garden", "/gardens/#{garden.id}/edit" %>
      <small>Created at: <%= garden.created_at %></small><br>
    </section>
  <% end %>
</ul>

<%= link_to "New Garden", "/gardens/new" %>