<%= link_to "#{@garden.name}'s Plants Show Page", "/gardens/#{@garden.id}/plants" %>
<%= link_to "Update Garden", "/gardens/#{@garden.id}/edit" %>

<h3><%= @garden.name %> Garden</h3>
<p><strong>Total Species:</strong> <%= @garden.species %></p>
<p><strong>Recently Watered:</strong> <%= @garden.watered %></p>
<p><strong>Total Associated Plants:</strong> <%= @garden.associated_plants %></p>